@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');



/*=============== NAV ===============*/

.modal-c-tabs{
  background-image: url(../../assets/professional-2-background-for-zoom-or-teams-unsplash.jpg);
  background-image: no-repeat;
  background-position: center;
  background-size: cover;

}

.btn-dark{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.btn-dark:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border-radius: 20px;
}

.form-control.ng-touched.ng-invalid {
  border:1px solid red;
 }
 .form-control.ng-touched.ng-valid {
  border:1px solid green;
 }

.navbar-brand{
  height: 35px;
  width: 35px;
  color: rgb(238, 237, 237);
  font-size: 35px;
margin-left: 50px;
margin-bottom: 30px;
font-weight: bolder;
}

.collapse{
  margin-left: 70px;
  color: rgb(0, 0, 0);


}
.nav-item{

  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
}

/* .navbar-toggler{
  background-color: black;
} */
.nav-link{
  text-decoration: none;
  color: #ffffff;
  font-size: larger;
  padding: 05px;

}
.pull-right{
  margin-left: 100px;
}

.navbar{
  background-color: rgb(255, 0, 0);
  border-bottom:black;
}


.collapse ul li a:hover{
  color:rgb(0, 0, 0);


}
.collapse ul li a:active{
  color:aqua;
}


.active-link{
  position: relative;
  color: black;
  border-radius: blue;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}


.active-link:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #3498db;

  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}



/* =====================home============== */


/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.scroll-header{
  background: var(--container-color);
}




.textcur{
  color: black;
}

/* Active link */


.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}
.singnav{
  margin-right: 120px;
}


.d-block{

  width: 100%;
  height: 600px;
}


@media only screen and (max-width: 576px) {
  .carousel-caption {
      font-size: 1rem;
    }
    h5{
      font-size: 1rem;
    }
}
.About1{
  margin-top: 50px;
  text-align: center;
  color: red;
}

.homediv{

  height: 460px;
    width: 80%;
    border-radius: 100px 100px 300px 100px;


  }

  .parahome{
    margin-top: 100px;




  }
  .para01{
    margin-right: 50px;
    text-align: justify;
    padding: 50px;

  }


.about001{
  background-color: rgba(133, 133, 133, 0.204);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 500px;
}



  @media only screen and (max-width: 576px) {
    .carousel-caption {

    }
    h5 {
      font-size: 1rem;
  }
}
/*
===================about==================== */

/* .about{

 background-image:url(../../../assets/professional-2-background-for-zoom-or-teams-unsplash.jpg);
width: 100%;

   height: 600px;
 background-position:  center;
    background-repeat: no-repeat;
    background-size:cover;





} */

.aboutimg{

  height: 460px;
  width: 100%;



}


h2{

color: rgb(0, 0, 0);
margin-left: 300px;
margin-top: 100px;
font-size: 50px;




}

.aboutbanner{
background-image: url(../../assets/bd01.jpg);
  height:40vh;
  background-image: no-repeat;
  background-position: center;
  background-size: cover;

}
.sec{
height:25%;
padding-top: 60px;
}


/*
=========================services====================== */


.parallax {
  /* The image used */
  background-image:url(../../assets/aboutimg001.jpg);

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicebox{
  width: 80px;
  height:80px;
  justify-content:center;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 14.88px 1.12px black;
  border-radius: 50%;
  color: rgb(29, 0, 91);
  background:white;
  text-align: right;
  margin:0px 0 0 11px ;


}
.servicebox:hover{
background-color: black;

}
.outerbox1{
margin-left:-100px;
}
h4{
  margin-top:30px;
 font-family: sans-serif;
 color: rgba(0, 82, 95, 0.796);
 margin-left: 20px;
 text-transform: uppercase;
  }
  h4:hover{
    color: rgb(5, 3, 74);
  }

  .testm{
    color:rgb(11, 255, 190);
    text-align: center;
    font-size: small;
  }
  .testm2{
    color:rgb(11, 255, 190);
    text-align: center;
    font-size: 50px;
  }


.one{
  display: flex;
  padding:40px ;
}
.one1{
  display: flex;
  padding:40px ;
}
.h1{
  color: white;
}
.firstbox{
  padding-top: 180px;
}
#p{
  font-size: 40px;
  color:rgb(0, 179, 255);
  padding-left: 30px;

}
.allboxes{
  padding-top: 80px;
}
@media screen and (max-width: 1178px)and (min-width:10px) {
  .one{
    margin-right: 100px;
    margin-left: 100px;
  }
  .one1{
    margin-right: 350px;
  }



}
