

<!-- =======================gallery================== -->



<div class="allcards" id="gallery">
  <div class="container cards">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
              <div class="card  wow slideInLeft">
                  <img src="src/app/assestes/Web-Development-and-Web-Design-Company.png" class="card-img-top"
                      alt="..." />
                  <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Web designing</h5>
                      <p class="card-text">
                          Web design refers to the design of websites that are displayed on the internet. It
                          usually
                          refers to the user experience aspects of website development rather than software
                          development. Web design used to be focused on designing websites for desktop browsers
                      </p>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>


                  </div>
              </div>
          </div>
          <div class="col  wow slideInDown "><br>
              <div class="card ">
                  <img src="../../../assets/Web-mobile-development-banner-06.jpg" class="card-img-top"
                      alt="..." />
                  <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Web Development</h5>
                      <p class="card-text">Web development is the building and maintenance of websites; it's the
                          work
                          that happens behind the scenes to make a website look great, work fast and perform well
                          with
                          a seamless user experience.
                      </p>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>

                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card  wow slideInRight ">
                  <img src="../../../assets/digital-marketing-content-planning-advertising-strategy-concept-digital-marketing-content-planning-advertising-strategy-concept-102190826.jpg"
                      class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">Digital marketing</h5>
                      <p class="card-text">
                          Digital marketing is the component of marketing that utilizes internet and online based
                          digital technologies such as desktop computers, mobile phones and other digital media
                          and
                          platforms to promote products and services.
                      </p>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>

                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card  wow slideInLeft">
                  <img src="../../assets/unique.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">Graphic design</h5>
                      <p class="card-text">
                          Graphic design is the art, profession and academic discipline whose activity consists in
                          projecting visual communications intended to transmit specific messages to social
                          groups,
                          with specific objectives.
                      </p>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>

                  </div>
              </div>
          </div>
          <div class="col"><br><br>
              <div class="card wow slideInUp ">
                  <img src="../../../assets/angular_01.png" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">Angular</h5>
                      <p class="card-text">
                          AngularJS is a open-source front-end web framework mainly maintained by
                          Google and by a community of individuals
                          encountered in developing single-page applications.
                      </p>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>
                  </div>
              </div>
          </div>

          <div class="col"><br>
              <div class="card wow slideInRight">
                  <img src="../../../assets/javascript.png" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">JAVA Script</h5>
                      <p class="card-text">
                          This is a longer card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.
                      </p>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <button type="button" class="btn btn-primary"><a [routerLink]="['/course']"
                              routerLinkActive="router-link-active" style="color: white; text-decoration: none; ">View
                              courses</a>
                      </button>
                  </div>
              </div>
          </div>



      </div>
  </div>
</div>
<br>
<br>
<br>











<!-- ===============================TESTmonial======================= -->

<h4 class="testm">TESTIMONIALS FEEDBACK</h4>
<p class="testm2">What our clients think</p>

<div class="couresol">
  <div class="container">

    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                    <div id="image-caption">Nick Doe</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                </div>
            </div>
        </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
    </div>
</div>

</div>
<br>
<br>

<!-- =========================clients=============== -->
<h5  class="testm"id="clients">CLIENTS</h5>
<p class="testm2">Our Partners/ Our Clients</p>
<marquee>

<div class="container">

<div class="row">


      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image1.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image2.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image3.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image4.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image5.png"></div>
      <!-- <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image6.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image7.png"></div>
      <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image8.png"></div> -->

  </div>

</div>
</marquee>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
