<section class="sec2">
  <div class="container">
      <div class="row">
          <div class="col-md-4 phn wow zoomIn">
              <i class="fa fa-phone-square " style="color: #42a4f5;"></i><br><br>
              <p>Phone: +91-9704065712</p>


          </div>
          <div class="col-md-4 phn wow zoomIn">
              <i class="fa fa-map-marker  " style="color: #42a4f5;"></i><br><br>
              <p>Sadup softech Pvt. Ltd.,<br>
                  2nd Floor, Maruthi Complex,<br>
                  Opp. R.S. Brothers,<br>
                  KPHB, Hyderabad - 500 0072<br><br>

          </div>
          <div class="col-md-4 phn  wow zoomIn">
              <i class="fa fa-envelope " style="color: #42a4f5;"></i><br><br>
              <a
                  href="https://mail.google.com/mail/u/0/#inbox">mahesh970098@gamil.com</a>
          </div>
      </div>
  </div>
</section>


<section class="fdbk">
  <div class="container">
    <h5 class="testf">CONTACT US FROM HERE</h5>
      <div class="row">

          <div class="col-md-6 second">
              <div class="frm">
                  <form name="addform" #addform="ngForm" (ngSubmit)="addform.form.valid && addmessage(addform)">
                      <h4>Reach Us :</h4><br>
                      <div>
                          <label>Name:</label>
                          <input type="text" placeholder="enter your name" class="form-control" name="name"  #name="ngModel" [(ngModel)]="feed.name" required>
                          <span
                              *ngIf="(name.errors?.required && name.touched) || (name.errors?.required && addform.submitted)"
                              style="color: red;">please enter first name</span>
                      </div>

                      <div>
                          <label>Email:</label>
                          <input type="text" placeholder="enter email" class='form-control' name="email" #emil="ngModel" [(ngModel)]="feed.name"
                              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                          <span
                              *ngIf="(email.errors?.required && email.touched)||(email.errors?.required && addform.submitted)"
                              style="color: red;">enter a valid email</span>
                          <span
                              *ngIf="(email.errors?.pattern && email.touched) || (email.errors?.pattern && addform.submitted)"
                              style="color: red;">must be valid</span>
                      </div>

                      <div>
                          <label>Phone:</label>
                          <input type="text" placeholder="enter phone" class='form-control' name="email"  #email="ngModel" [(ngModel)]="feed.email">
                      </div><br>

                      <div>
                          <label>subject:</label>
                          <textarea style="height: 100px;" type="textarea" placeholder="Message"
                              class='form-control' name='subject' #subject='ngModel'   [(ngModel)]="feed.message"></textarea>
                      </div><br>

                      <div>
                          <input type="submit" value="submit" class="btn btn-primary">
                      </div>

                  </form>
              </div>
          </div>
          <div class="col-md-6 map">

              <div class="card map-card">




                      <div class="iframe-container">
                        <iframe width="560" height="515"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.045081862926!2d78.47247581470279!3d17.
                        361563588094114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb978a6e1a939b%3A0xcb5a69e4aaf113fb!2sCharminar!5e0!3m2!
                        1sen!2sin!4v1618827499099!5m2!1sen!2sin" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe>
                      </div>


              </div>
          </div>

      </div>
  </div>
</section>












<br>

<br>
<div class="container-fluid footer">
  <div class="content">
  <div class="row">


<div class="col-md-4" >


<h2>SADUP SOFTECH PVT.LTD</h2>
<h6>Sadup Softech Private Limited is a young digital transformation company that is driven by a vision to grow.</h6>


<h6>Sadup Softech Pvt Ltd distinguishes itself from other providers by delivering pocket-friendly and customized go-to-market products.</h6>


</div>

<div class="col-md-4">


<ol class="fotlinks">
  <h4>RESOURCES</h4>

<a class="fotlink" href="#services"><li>Our services</li></a>
<a class="fotlink" href="#clients"><li>Clients</li></a>
<a class="fotlink" href="#home"><li>Terms& conditions</li></a>
<a class="fotlink" href="#home"><li>Privacy policy</li></a>




</ol>
</div>


<div class="col-md-4">
<div class="fas1">

<div class="row">
  <a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a  href="#"><i class="fab fa-Twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a  href="https://www.intsagram.com"><i class="fab fa-instagram fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a  href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>

</div>
</div>



</div>
  </div>
</div>
